body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-bar-bg {
    background-color: rgba(230, 215, 213, 0.2);
    margin-top: 0px;
    width: 500px;
    height: 1500px;
}

.nav-bar-child {
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 50px;
}

.logo {
    border-radius: 50%;
}