body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-bar-child {
    display: inline-block;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 50px;
}

.logo {
    border-radius: 50%;
}